{% extends "base.html" %}
{% block title %}
    profile
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}
{% block style %}

{% endblock %}
{% block body %}
<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="#">Myself</a></li>
        <li class="dropdown">
            <a href="#">Project</a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('stock') }}">RSI STOCK</a></li>
                <li><a href="#">BLACKJACK</a></li>
                <li><a href="#">not now</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<form class="c">
    <h1>RICARDO GAO</h1>
    <h1>gaozhe0011@gmail.com</h1>
    <h1>+1 382 885 2156</h1>
    <h1>Canada,ON</h1>
</form>
<div class="container">
    <div class="card" id="project1">
        <h2>RSI STOCK PROJECT</h2>
    </div>
    <div class="card" id="project2">
        <h2>BLACKJACK PROJECT</h2>
    </div>
    <div class="card" id="project3">
        <h2>not now</h2>
    </div>
</div>
<script>
    document.getElementById('project1').addEventListener('click', function() {
        window.location.href = "{{ url_for('stock') }}";
    });
    document.getElementById('project2').addEventListener('click', function() {
        window.location.href = "#"; // 替换为实际的 URL
    });
    document.getElementById('project3').addEventListener('click', function() {
        window.location.href = "#"; // 替换为实际的 URL
    });
</script>

{% endblock %}
