{% extends "base.html" %}

{% block title %}
    stock
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<h1>make the investing more easy</h1>
<form action="/search" method="post">
    <label for="stock">stock number</label>
    <input type="text" id="stock" name="stock" autofocus placeholder="stock name">
    <button type="submit">search</button>
</form>
<form action="/rsi" method="post">
    <button> low valuation for top 100</button>
    <h2>they need deal about 100 company with the asyncio. so plz be patient</h2>
    <h2>basic on RSI</h2>
</form>
<form action="/cdr" method="post">
    <button> low valuation for CDR</button>
    <h2>they need deal about 100 company with the asyncio. so plz be patient</h2>
    <h2>basic on RSI</h2>
</form>

{% endblock %}
