body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    height: 100vh; /* 这行添加了 */
    display: flex; /* 这行添加了 */
    flex-direction: column; /* 这行添加了 */
    justify-content: center; /* 这行添加了 */
/* 这行添加了 */

}

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu li a {
    color: rgb(63, 59, 59);
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 30px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
}

.dropdown-menu li a {
    padding: 20px 30px;
    /* this can change the size of the ndropdown-menu bar */
    color: #333;
    line-height: 1.5;
    /* add the space from the different element */
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center; /* 这行调整了 */
    align-items: center; /* 这行添加了 */
    height: calc(100vh - 60px); /* 这行调整了 */
    margin-top: -200px; /* 这行保留 */
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    display: flex; /* 这行添加了 */
    justify-content: center; /* 这行添加了 */
    align-items: center; /* 这行添加了 */
    height: 500px;
}

.card:hover {
    transform: scale(1.1);
}
.c{
    text-align: right;
    padding-right: 20px;
}